*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c7e3f2;
}
.resume-container{
    background-color: white;
    width: 92%;
    height: 100%;
    margin: -5px auto 15px auto;
    border-radius: 7px;
}

.resume-container div{
    height: fit-content;
    color: white;
    font-size: 0.75em;
    font-family: 'Inter',  sans-serif;
    padding: 30px 25px;
}

.name-placard{
    background-color:white;
    height: 290px;
    margin: 18px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.name-placard img{
    width: 120px;
    height: 120px;
    border-radius: 500px;
    margin: 0 auto;
   /* margin: 35px 100px 15px 100px;*/
}

.name-placard h1{
    font-weight: 500;
    color: black;
    font-size: 2.2em;
    margin: 15px auto;
    /*margin: 0 auto;*/
}

.name-placard h2{
    font-weight: 10;
    color: grey;
    font-size: 1.2em;
    margin: 0 auto;  
}

div > h3{
    font-weight: 100;
    padding-bottom: 20px;
}
hr{
    border: 0.2px solid lightskyblue;
    opacity: 0.5;
    display: block;
}

.about-section{
    background-color: #4299ff;
    color: white;
}
.about-section div{
    
    font-size: 0.93em;
    font-weight: 100;
    line-height: 1.9;
    margin: 0 -25px -35px -25px;
}

.recent-work-section{
    background-color: #3288ed;
    height: 255px;
}
.recent-work-section div{
    margin: -25px -25px -55px -25px;
}
.recent-work-section ul{
    list-style-type:none;
    line-height: 2.5;
    font-size: 15px;
    font-weight: 100;
}

.recent-work-section li::before{
    padding-right: 10px;
    opacity: 0.5;
}

.contacts-section{
    background-color: #277de3;
    height: 225px;
    margin-bottom: inherit;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contacts-section div{
    display: inline-block;
    margin: -20px -50px -35px -30px;
}
.contacts-section a{
    text-decoration: none;
    color: white;
    font-size: 1.35em;
    border: 0.35px solid lightskyblue;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
  
}

.contacts-section a::before{
    padding: 0 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 360px) {
    .resume-container{
        width: 87%;
        margin: 25px auto;
    }
    .name-placard{
        margin: 40px 0; 
    }
    .about-section div{
        /*margin: 10px -25px -10px -25px;*/
        height: 150px;
    }
    .recent-work-section div{
        height: 250px;
        padding: 50px 25px;
    }
    .contacts-section div{
        height: 215px;
        display: inline-block;
        margin: 0 -30px -25px -30px;
    }

    .contacts-section a{
        margin: 5px;
        padding: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 485px) {
    .contacts-section div{
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 736px) {
    .resume-container{
        height: 70%;
        width: 68%;
        margin: 50px auto;
    }

    .name-placard{
        height: 290px;
    }
    hr{
    transform: rotate(90deg);
    width:125px;
    padding: 0 35px;
    }

    .about-section, .recent-work-section, .contacts-section{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    .about-section{

    }

    .recent-work-section{

    }

    .contacts-section{
        
    }
}
